html {
	height: 100%;
	background-color: rgb(172, 176, 226)
}

body {
	margin: auto;
	font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.h1__PC
{
	display: none;
}

h3
{
	padding: auto;
}
.head__item {
	color: #7c7c7c;
}

.header__nav {
	display: flex;
	justify-content: space-between;
	padding: 0px;
	font-weight: 900;
}

.header {
	width: 100%;
	justify-content: center;
	align-items: center;
	padding-bottom: 20px;
	background-color: #7b7cdb;
}

.flower
{
	width: 40%;
}

.YTVK
{
	width: 50%;
}

.head__list {
	display: none;
	gap: 50px;
	
}

.h1__mobile
{
	padding-right: 25%;
}

.head__item__mobile
{
	list-style: none;
}

ul {
	list-style: none;
	padding-left: 0;

}

li
{
	margin-top: 10px;
}



.context-a
{
	margin: 0;
}

.array
{
	text-align: center;
}

.name {
	text-align: center;
	margin: 0;
	padding: 0;
}

main {
	justify-content: center;
	width: 100%;
	margin: auto;
	background-color: #7b7cdb;
}

ol {
	list-style-type: none;
	padding-left: 0;
}

table {
	width: 100px;
	border-collapse: collapse;
	text-align: center;
	margin: auto;
}

td {
	border: 2px solid black;
	padding: 10px;
	font-size: 18px;
}

th {
	border: 2px solid black;
	padding: 10px;
	font-size: 18px;
	background-color: white;
	color: black;
}

tr:nth-child(odd) {
	background-color: rgb(203, 33, 33);
	color: white;
}
tr:nth-child(even) {
	background-color: rgb(10, 15, 167);
	color: white;
}

a {
	text-decoration: none;
	color: rgb(50, 6, 206);
}

.logo_jpg {
	width: 50px;
	height: 50px;
}

footer
{
	padding-top: 100px;
	font-size: 30px;
}

#biography
{
	width: 100%;
	box-sizing: border-box;
}


@media (min-width: 768px)
{
	main {
		background-color: #7b7cdb;
		width: 50%;
		

	}

	.h1__PC {
		display: contents;
	}

	.head__item__mobile {
		display: none;
	}

	.h1__mobile {
		display: none;
	}

	.head__list {
		display: flex;
		gap: 50px;
		display: content;
	}
	

}